.section-about-me .body {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
}

.section-about-me .block {
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    flex: 1 1 350px;
    border: 1px solid var(--main-txt-color);
    border-radius: 10px;
    margin: 15px;
    transition: 0.5s;
}

.section-about-me h2 {
    color: var(--primary-highlight-color);
    font-weight: 800;
    font-size: 80%;
    margin: 0;
    text-transform: uppercase;
    transition: 0.5s;
}

.section-about-me p {
    margin: 0;
    margin-top: 15px;
}

.section-about-me .block:hover {
    border-color: var(--secondary-highlight-color);
}

.section-about-me .block:hover h2 {
    color: var(--secondary-highlight-color);
}