.bg-app-header {
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 125%;
}

.app-header > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.app-header .box-menu {
    cursor: pointer;
    position: relative;
}

.app-header .box-menu .icon {
    font-size: 30px;
}

.app-header .box-menu nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    font-size: 80%;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    top: 100%;
    right: 0;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    overflow-y: hidden;
    max-height: 0;
    transition: 0.25s;
}

.app-header .box-menu:hover nav {
    max-height: 100vh;
}

.app-header .box-menu nav > a {
    padding: 10px 30px;
    white-space: nowrap;
    text-align: right;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 80%;
    color: var(--primary-highlight-color);
}

.app-header .box-menu nav > a:hover {
    color: var(--secondary-highlight-color);
}

.app-header .box-menu nav > *:first-child {
    padding-top: 20px;
}

.app-header .box-menu nav > *:last-child {
    padding-bottom: 20px;
}

.box-lang-selector, 
.box-theme-selector {
    display: flex;
    flex-direction: row;
    font-size: 80%;
    cursor: default;
    opacity: 0.8;
    padding: 10px 30px;
}

.box-lang-selector > * + *,
.box-theme-selector > * + * {
    margin-left: 10px;
}

.box-lang-selector label,
.box-theme-selector label {
    cursor: pointer;
}

.box-lang-selector label input,
.box-theme-selector label input {
    display: none;
}

.box-lang-selector label input:checked ~ span,
.box-theme-selector label input:checked ~ span {
    border-color: var(--secondary-highlight-color);
}

.box-theme-selector .dark,
.box-theme-selector .light {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #CCC;
    border-radius: 50%;
}

.box-theme-selector .dark {
    background-color: #222;
}

.box-theme-selector .light {
    background-color: #FFF;
}